@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root{
    --cor-texto:#624E88;
    --cor-fundo:#E6D9A2;
    --cor-secundaria: #CB80AB;
    --cor-roxinho: #8967B3;
    --font: "Afacad Flux", sans-serif;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--font);
}